h1 {
    color:green;
    background-color: bisque;
}

#h2 {
color:green;
text-align: center;
}

.pitch {
    font-size: 20px;
}

#i1 {
     height: 200px;
}

#i2 { 
height: 200px;
}

#i3 {
    height: 200px;
}

#i4 {
    height: 200px;
}

#i5 {
    height: 200px;
}

#td1 {
    text-align: center;
}

#td2 {
    text-align: center;
}

#td3 {
    text-align: center;
}

#td4 {
    text-align: center;
}

#td5 {
    text-align: center;
}

#h1 {
    text-align: center
}

