.logo {
    height: 80px;
}

.jumbotron {
    background-image: url(panoramic.JPG);
    background-size: cover;
    vertical-align: top;
    padding-bottom: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.leadjumbotron {
    color: darkslategray;
}

h2 {
    font-size: 30px;
    text-align: center;

}

h3 {
    font-size: 30px;
    background-color: rgb(17, 85, 130);
    color:white;

}

#i1 {
    height: 250px;
}

#i2 { 
height: 250px;
}

#i3 {
   height: 250px;
}

#i4 {
   height: 250px;
}

#i5 {
   height: 250px;
}

#td1 {
   text-align: center;
}

#td2 {
   text-align: center;
}

#td3 {
   text-align: center;
}

#td4 {
   text-align: center;
}

#td5 {
   text-align: center;
}